.App {
  text-align: center;
}

.myImage {
  width: 1350px;
  height: 200px;
  display: block;
  margin-left: -120px;
  margin-right: auto;
  border-radius: 40px;
}
.myImagePaisaje {
  width: 1250px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
}

/*css Navegador*/
.nav-link {
  width: 260px;
  height: 90px;
  align-content: center;
  background-color: aquamarine;
  border-radius: 15px;
  font-size: calc(27px + 1vmin);
  font-weight: bold;
}

.nav-item {
  margin-top: 18px;
  background-color: aquamarine;
  margin-left: 50px;
  border-radius: 15px;
}

.nav {
  align-content: center;
  margin-top: 25px;
  background-color: aquamarine;
  border-radius: 15px;
  tab-size: 100px;
  margin-left: -120px;
  margin-right: -110px;
}

/*footer*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/*Header*/
.subHeader {
  margin-top: 100px;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.margin {
  margin-top: 50px;
}

.active {
  border-bottom: 1px solid blue;
}

.header {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  font-size: 140%;
}

/*Ciudad*/
div.gallery {
  margin-top: 70px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  margin-left: 180px;
  border-radius: 10px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 300px;
  height: 160px;
  border-radius: 10px;
}

.desc {
  padding: 15px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

/*Hotel*/
div.galleryHotel {
  margin-top: 70px;
  border: 1px solid #ccc;
  background-color: lightblue;
  float: left;
  width: 400px;
  margin-left: 200px;
  border-radius: 10px;
}
.margin20 {
  margin-top: 20px;
  font-size: 105%;
}

.subrayado {
  font-weight: bold;
  font-size: 199%;
  text-decoration: underline;
}

/*Reserva*/
.margin50 {
  margin-top: 70px;
  border: 1px solid #ccc;
  background-color: aquamarine;
  float: left;
  width: 500px;
  margin-left: 400px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 140%;
}

.busqueda {
  margin-top: 100px;
  border: 1px solid #ccc;
  background-color: aquamarine;
  float: left;
  width: 600px;
  height: 80px;
  margin-left: 600px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 140%;
}
.busquedaInfo {
  margin-top: 100px;
  border: 1px solid #ccc;
  background-color: aquamarine;
  float: left;
  width: 600px;
  height: 300px;
  margin-left: 600px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 140%;
}
.left50 {
  margin-left: 30px;
}
